/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    position: relative;
    
}

#superga {
    background-color: red;
}

#tommy_hilfiger {
    background-color: green;
}

#converse {
    background-color: yellow;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

h1 {
    color: yellow;
    text-align: center;
    font-size: 50px;
}

#converse h1 {
    color: green;
}